:root{
   --animation-spec: fadeIn .4s ease-in-out both;
   --firstColor : moccasin;
   --secondColor:rgb(250, 154, 65);
   --thirdColor:rgb(197, 125, 58);

}

html{
   height: 100vh;
   width: 100%;
}
body{
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat Alternates', sans-serif;

   margin:0;
   background-color: moccasin;
   background-image: radial-gradient(circle, rgba(245, 180, 39, 0.815) 20%, transparent 10%), radial-gradient(circle,  rgba(245, 180, 39, 0.815) 20%, transparent 0%);
   background-size: 10px 10px;
   background-position: 0 0, 50px 50px;
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1em 1em 1.8em 1em;
}

h1,h3,h4,p{
   margin:0;
   padding:0;
}

h1{
   margin:3rem 1rem;
   font-size: 5.35em;
   text-align: center;
   font-weight: 800;
   color: rgb(250, 154, 65);
   line-height: 0.9em;
   text-shadow:0px 5px 10px white;
}


form{
   display: inline-flex;
   width:100%;
   justify-content: center;
   height: 2.2em;
}

input{
   font-size: 1.2em;
   box-sizing: border-box;
   padding: 2px 2px 2px 15px;
   width:40%;
   max-width:500px;
   border:none;
   outline: none;
   color:rgb(250, 154, 65);
}

input::placeholder{
   color:rgb(250, 154, 65);

}

a{
   display: inline-flex;
   justify-content: center;
   align-self: flex-end;
   min-width:50%;
   width:auto;
   padding:6px;
   text-decoration: none;
   margin-top: 15px;
   border-radius: 10px;
   font-size:1rem;
   color:white;
   background-color:rgb(250, 154, 65);

   transition: all .3s;
}

/* unvisited link */
a:link {
   color:white;
   background-color:rgb(250, 154, 65);
 }
 
 /* visited link */
 a:visited {
   color:white;
   background-color:rgb(250, 154, 65);
 }
 
 /* mouse over link */
 a:hover {
   color:white;
   background-color:rgb(197, 125, 58);
 }
 
 /* selected link */
 a:active {
   color:white;
   background-color:rgb(197, 125, 58);
 }
 #submitBtn{
   outline: none;
   background-color:rgb(250, 154, 65);
   border: none;
   color:white;
   font-size: 1.2em;
   width:10%;
   min-width: 90px;
   max-width:125px;
   
   transition: all .3s;   
}

#submitBtn:hover{
   background-color:rgb(197, 125, 58);
   
}

#returnBtn{
   align-self: center;
   outline: none;
   padding:5px;
   border: none;
   color:white;
   font-size: 1.2em;
   
   width:100%;
   
   background-color:rgb(250, 154, 65);
   transition: all .3s;
}

#returnBtn:hover{
   background-color:rgb(197, 125, 58);
}



#container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   align-self: center;
}


/*  preViews && cards */
.preView{
   display: flex;
   flex-direction: column;
   align-items: center;
   width:215px;
   margin:2em;
   
   border-radius: 3em;
   -webkit-box-shadow: 0px 16px 30px 7px rgba(26, 26, 26, 0.473); 
   box-shadow: 0px 16px 30px 7px  rgba(26, 26, 26, 0.473);
   
   animation: var(--animation-spec);
}
.preViewImg{
   background-color: cornsilk;
   background-position: center;
   background-size: cover;
   height:300px;
   width:100%;
   border-radius: 3em 3em 0 0;
   
}
.preViewTitle{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align:center;
   box-sizing: border-box;
   width:215px;
   
   
   min-height: 2.5rem;
   padding:5px 15px;
   font-weight: 500;
   border-radius: 0 0 3em 3em;
   background-color: white;
}


/* cards */
.card{
   display: flex;
   flex-direction: column;
   margin: 2em;
   width:80%;
   max-width: 1096px;
   
   animation: var(--animation-spec);
}

.cardContent{
   display:flex;
   flex-direction: row;
   
   min-height: 700px;
}

.cardImg{
   display: flex;
   flex: 3;
   
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
}

.cardInfo{
   display: flex;
   flex-direction: column;
   flex:3;
   
   height: 100%;
   box-sizing: border-box;
   margin-left: 5px;
   padding-left: 10px;
}

.cardTitle{
   display: flex;
   
   margin-top:0.7rem;
   font-size: 2.6rem;
   font-weight: 600;
}
.cardScore{
   display: flex;
   
   margin-top: 5px;
   font-size: 1.7rem;
   font-weight: 500;
}
.cardDescription{
   display: flex;
   flex-direction: column;
   
   margin-top: 5px;
   font-size: 1.2rem;
}

/*  HR */
hr.scissors {
   border-style: dashed;
   border-width: 3px 0 0;
   height: 2px;
   margin-top: 3em;
   width: 95%;
   color:rgb(228, 143, 47);
}
hr.scissors:before {
   content: "\2701"; 
   display: block;
   font-size: 150%;
   left: 50%;
   margin: -23px 0 0 -8px;
   padding: 0 8px;
   position: absolute;
   text-align: center;
}

/* groups */

button,input{
   font-family: inherit;
   font-weight: 500;
   padding-bottom: 2px;
}

button,.preView{
   cursor: pointer;
}
/*  animations */
.hide{
   display: none;
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}


/*  media quaries */
/* @media(min-width:1475px){
   .cardImg{
      background-position: right;
      background-color: rgb(250, 154, 65);
      transition: background-color .2s;
   }
} */
@media(max-width:700px){
   .card{
      margin-bottom: 75px;
   }
   .cardInfo{
      padding-left: 0;
      margin:0;
   }
   form{
      height:3.6rem;
      flex-direction: column;
   }
   #submitBtn,#returnBtn, input{
      font-size: 1.2em;
      height: 50%;
      width:100%;
      min-width: none;
      max-width: none;
   }
   .cardContent{
      flex-direction: column;
   }
   .cardImg{
      flex: unset;
      width:100%;
      height: 750px;
   }
}

@media(max-width:576px){
   .cardImg{
      height:650px;
   }
}

@media(max-width:430px){
   .cardImg{
      height:450px;
   }
}